<div class="row user-basic">
    <div class="col-md-4">
        <label for="nameBox">Name</label><input id="nameBox" class="form-control" type="text" value="{{user?.name}}"
            disabled>
    </div>
    <div class="col-md-4">

        <label for="usernameBox">Username</label><input id="usernameBox" class="form-control" type="text"
            value="{{user?.username}}" disabled>

    </div>
    <div class="col-md-4">

        <label for="emailBox">Email</label><input id="emailBox" class="form-control" type="text" value="{{user?.email}}"
            disabled>

    </div>
</div>