<div *ngIf="!user" style="text-align: center;">
    <h1>Loading User...<br><i class="fa fa-refresh fa-spin"></i></h1>
</div>
<div *ngIf="user" class="user-container">

    <div style="text-align: center;">
        <a class="delete-user" (click)="deleteUser()">Delete User</a>
    </div>

    <app-user-basic [user]="user"></app-user-basic>
    <h4 class="mt-2">Location</h4>
    <div class="row">
        <div class="my-2 col-md-8">
            <h5>Map</h5>
            <app-map [map]="user.address.geo"></app-map>

        </div>
        <div class="my-2 col-md-4">
            <h5>Address</h5>
            <ul>
                <li>
                    {{user.address.street}}
                </li>
                <li>
                    {{user.address.city}}
                </li>
                <li>
                    {{user.address.zipcode}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-6 my-3">
            <h5>Posts by {{user.name}}</h5>
            <button class="btn-outline-info btn btn-block" *ngIf="!showPosts" (click)="showPosts = true">Load Posts</button>
            <app-user-posts [userId]="user.id" [type]="'posts'" *ngIf="showPosts"></app-user-posts>
        </div>
        <div class="col-md-6 my-3">
            <h5>Albums by {{user.name}}</h5>
            <button class="btn-outline-info btn btn-block" *ngIf="!showAlbums" (click)="showAlbums = true">Load Albums</button>
            <app-user-posts [userId]="user.id" [type]="'albums'" *ngIf="showAlbums"></app-user-posts>
        </div>

    </div>
</div>