<div style="text-align: center;">
    <h3>
        About User-post-album app
    </h3>
    <section>
        <p><i>This app provides a way to view the posts and albums a user produces. It has the following functions:</i></p>
        <ul>
            <li>
                Create: Ability to create new posts and albums for a user. To do this, select a user, press load albums
                or load posts, then select Add and create your new item.
            </li>
            <li>
                Read: Retrieves a list of users, posts and albums.
            </li>
            <li>
                Update: Update users email address via the view user page. To do this, select a user, and press the edit
                pencil next to the email. Finally press the green update button to save.
            </li>
            <li>
                Delete: Ability to delete users via the view user page. To do this, select a user and press Delete User
                at the top of the page.
            </li>

        </ul>
    </section>
</div>