<div style="text-align: center;">
    <h3>
        About User-post-album app
    </h3>
    <section>
        <p>This app provides a way to view the posts and albums a user produces. It has the following functions:</p>
        <ul>
            <li>
                Create: Ability to create new posts and albums for a user.
            </li>
            <li>
                Read: Retrieves a list of users, posts and albums.
            </li>
            <li>
                Update: Update users email address via the view user page.
            </li>
            <li>
                Delete: Ability to delete users via the view user page.
            </li>
            
        </ul>
    </section>
</div>